.nav-text {
    font-size: 18px;
}

.bg-success {
    background-color: #12A065 !important;
}

.ativado {
    font-weight: 500;    
}

li a:hover:not(.active) {
    background-color: white; 
    color: #12A065 !important;
}