.item-card {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 2px 4px 2px 8px;
  background-color: #fff;
  font-size: .9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1px;
}

.card-title {
  font-weight: bold;
  display: inline;
  font-size: 1rem;
}

.desrc-toggle-switch {
  font-weight: bold;
  cursor: pointer;
  display: inline;
  color: #f88;
  font-size: 1.3rem;
}

.wastebin-icon {
  width: 30px;
  height: 30px;
  margin: 3px 3px 3px 8px;
}
.wastebin-icon:hover {
  cursor: default;
}