.bin-icon-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 9px;
}

.h4-2 {
  margin-top: 10px;
}

.img2 {
  width: 76px;
  height: 76px;
  margin: 1px 1px 3px 1px;
}
.img2:hover {
  cursor: pointer;
}

.input-and-button2 {
  margin-top: -8px;
}

.p2 {
  margin-top: 7px;
  padding-left: 3px;
}

.p2-1 {
  margin-top: 15px;
  margin-bottom: 8px;
  padding-left: 3px;
}

.no-results-hint2 {
  border-radius: 5px;
  background-color: #fcc;
  padding: 7px 12px;
}

.search-area-map-hint {
  padding: 10px 0 3px 3px;
}