.item-card5 {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 3px 8px 0 7px;
  background-color: #fff;
  font-size: .9rem;
  margin-bottom: 1px;
}

.card-title5 {
  font-weight: bold;
  display: inline;
  font-size: 1rem;
}

.desrc-toggle-switch {
  font-weight: bold;
  cursor: pointer;
  display: inline;
  color: #f88;
  font-size: 1.3rem;
  margin-right: 6px;
}

.wastebin-icon5 {
  width: 35px;
  height: 35px;
  margin: 3px 5px 3px 16px;
}
.wastebin-icon5:hover {
  cursor: default;
}

.button5 {
  margin-left: 6px;
}
.button5:hover {
  cursor: pointer;
}

.table5 {
  width: 100%;
}

.buttons-and-icon5 {
  text-align: right;
}