.list-container-0 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: -15px;
}

.list-box-0 {
  margin: auto;
}

.h2-0 {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 30px;
}

.button-welcome {
  margin-left: 10px;
}

.p2-welcome-1 {
  margin-top: 0;
  margin-bottom: 7px;
  padding-left: 3px;
}
.p2-welcome-2 {
  margin-top: 8px;
  margin-bottom: 10px;
  padding-left: 3px;
}

.popup-container-welcome {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.search-item-hint-welcome {
  border-radius: 5px;
  background-color: #70e1e9;
  padding: 8px 18px 15px 18px;
  z-index: 2;
  margin: auto;
  position: absolute;
  top: 33%;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  text-align: left;
}

.close-hint-char-welcome {
  font-size: 1.5rem;
  text-align: right;
  margin: 0 0 -5px 0;
  cursor: pointer;
  font-weight: bold;
}

ul{
  margin-left: -38px;
}

li {
  margin: 0;
  padding: 1px 0 1px 30px;
  list-style: none;
  background-image: url("/images/green-dot.svg");
  background-repeat: no-repeat;
  /* background-position: left center; */
  background-position: 0 1px;
  background-size: 20px;
  /* border: 1px solid grey; */
  line-height: 145%;
}

/* outer form container */
.form-box-welcome {
  display: flex;
  justify-content: center;
}

/* inner form container */
.form-welcome {
  min-width: 200px;
}

/* innermost form container */
.input-and-button-welcome {
  display: flex;
  width: 100%;
}

@media only screen and (min-width: 1200px) {
  .form-welcome {
    width: calc(43% - 70px);
  }
  .form-box-welcome {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 1199px) {
  .form-welcome {
    width: calc(52% - 70px);
  }
  .form-box-welcome {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 991px) {
  .form-welcome {
    width: calc(70% - 70px);
  }
  .form-box-welcome {
    margin-top: 30px;
  }
  .p2-welcome-2 {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .form-welcome {
    width: calc(96% - 70px);
  }
  .form-box-welcome {
    margin-top: 25px;
  }
  .p2-welcome-2 {
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 575px) {
  .form-welcome {
    width: calc(96% - 70px);
  }
  .form-box-welcome {
    margin-top: 25px;
  }
  .p2-welcome-2 {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 400px) {
  .form-welcome {
    width: calc(90%);
  }
  .form-box-welcome {
    margin-top: 20px;
  }
  .input-and-button-welcome {
    flex-wrap: wrap;
    justify-content: center;
  }
  .button-welcome {
    margin-top: 10px;
    margin-left: 0;
  }
  .p2-welcome-2 {
    margin-bottom: 0;
  }
}


.image-gallery {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

img.banner {
  height: 95px;
  border: 1px solid #bbb;
  border-radius: 5px;
  margin: 0 5px 10px 5px;
  cursor: pointer;
}
img.banner:hover {
  border: 1px solid #0ea;
}