.list-container-0 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.list-box-0 {
  margin: auto;
}

.h2-0 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}